body {
    font-family: 'Poppins' , sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.button{
    background-color: black;
    color: cornsilk;
    border: 0;
    font-size: 18px;
    border-radius: 6px;
    padding: 20px 50px;
    font-size: 22px;
    cursor: pointer;
}